.footer {
    background-color: inherit; 
    color: #000;
    padding: 1rem 2rem;
    font-family: var(--font-base);
  
    .linkstack {
      margin-left: 0.5rem;
      text-align: left;
  
      div,
      p {
        color: inherit;
        font-size: 0.875rem;
      }
    }
  
    img {
      filter: brightness(95%);
    }
  
    @media (max-width: 600px) {
      .linkstack {
        align-items: flex-start;
      }
    }
  }  